@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Cantata+One&family=Love+Light&family=Updock&display=swap');
@font-face {
    font-family: 'Fontelogo'; 
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body {      
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color:rgb(0, 0, 1);

}
div#interface {
    width: 900px;
    background-color: rgb(255, 255, 255);
    margin: -20px auto 10px auto;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    padding: 10px;
}

p {
   text-align: justify;
   text-indent: 50px
}

a {
    color: #002fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

}

header#cabecalho img#icone {
    position: absolute;
    right: 350px;
    top: 50px;
}
header#cabecalho{
    border-bottom: 1px rgb(0, 0, 0) solid;
    height: 160px;
    background: url(../imagens/glass-logo-peq.jpg) no-repeat 0px 90px;
 }

 header#cabecalho h1 {
 font-size: 20pt;
 color: #000000;
 text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
 padding: 0px

}
header#cabecalho h2 {
    font-family: 'Cantata One', serif;
    color: #000000d2;
    font-size: 15pt;
    padding: 0px;
    margin-top: 20px;
}

/* Formatação de imagem com legendas */

figure.foto-legenda {
    position: relative;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img{ 
 width: 100%;
 height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.384);
    color:white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 2s;

}
figure.foto-legenda:hover figcaption {
    opacity: 1;

}

/* Formatçã do menu */

nav#menu ul {
    font-size: 20px;
    text-align: center;
    margin-top: -95px;
    margin-left: 80px;
    letter-spacing: 1px;
    
}
nav#menu li {
    display: inline-block;
    background-color: #adadad;
    padding: 5px;
    margin: 5px;
    transition: background-color 1s;
    border-radius: 10px;

}
nav#menu li:hover {
    background-color: #757575;
}
nav#menu a:hover {
    color:#000000
}
nav#menu h1 {
    display: none;

}

nav#menu a {
    color: black;
    text-decoration: none;
}
section#corpo{
    display: block;
    width: 500px;
    float: left;
    border-right: 1px solid #000000;
    padding-right:  15px;
    
}

article#noticia-principal h2 {
    font-family: Arial sans-serif;
    font-size: 15pt;
    color: #000000;
    padding: 5px 0px 5px 10px;
    margin:  10px 0px 10px 0px;
}

header#cabecalho-artigo h1 {
    font-family: 'Fontelogo';
    font-size: 20pt;
    color:#000000;
    margin-bottom: 0px;
    margin-top: 0px;
    
}

.direita {
    text-align: right;
    border-bottom: 1px solid;
    border-spacing: 20px;
}

header#cabecalho-artigo h2 {
    background-color: #ffffff;
    color:#cecece ;
    font-size: 13pt;
    margin: 0px;
   
}

header#cabecalho-artigo h3 {
    font-size: 15px;
    color:#000000
}
table#tabelaspec{
    border: 1px solid #000000;
    border-spacing: 5px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}
table#tabelaspec td {
    border: 1px solid;
    padding:10px;
    text-align: center;
}
table#tabelaspec td.ce {
    color: #000000;
    background-color: #606060b4;
    border-radius: 10px;
}
table#tabelaspec td.cd{
    background-color:  #8d8d8d73;
    border-radius: 10px;
    
}
table#tabelaspec caption {
    font-size: 25pt;
    font-family: 'Times New Roman', Times, serif;
}
table#tabelaspec caption span{
    display: block;
    font-size: 10pt;
    float: right;
    color:rgb(0, 0, 0);
    margin-top: 25px;
    
}

#filme1 {
    width: 500px;
    height: 300px;
    margin-top: -15px;
}

aside#lateral {
    font-family: Arial, sans-serif;
    background-color: #dddddd;
    display: block;
    width: 350px;
    float: right;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

aside#lateral h1 {
    font-family: 'Fontelogo';
    font-size: 20pt;
    color: #000000;
    margin-top: 0px;

}
aside#lateral h2 {
    font-family: Arial, sans-serif;
    font-size: 13pt;
    color:#000000;
    padding: 5px;
}
#filme2 {
    width: 350px;
    height: 200px;
    margin-top: -10px;
}


footer#rodape{
    clear: both;
    border-top: 1px solid #000000;
}
footer#rodape p {
    text-align: center;

}
